/* Global styles */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F7FF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a{
    color: #f2f3f7; /* warna biru tua */
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.2s;
    background-color: #0072c6;
    border-radius: 5px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles */
header {
    background-color:#c7d5df;
    color: #1a1919;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

/* Section styles */
section {
    padding: 50px 0;
}

section h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.baju {
    background-color: #FFFFFF;
    border: 1px solid #0077be;
    padding: 20px;
    margin-bottom: 30px;
}

.baju img {
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    height: auto;
    margin-bottom: 20px;
}

.baju h3 {
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.baju p {
    font-size: 16px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: block;
    margin: 0 auto;
    background-color: #0077be;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
}

.button:hover {
    background-color: #005ca9;
}
